/* Utility mixins
   ========================================================================== */
/**
 * Clearfix for clearing floats like a boss h5bp.com/q
 */
/**
 * Media query
 */
/**
 * Webkit-style focus
 */
/**
 * Center-align a block level element
 */
/**
 * Hide text overflow and end with ...
 */
/* Gradient mixins
   ========================================================================== */
/* Rounded corners
   ========================================================================== */
/**
 * Round all corners
 * example: @include rounded(4px);
 */
/**
 * Round individual corners (top right, bottom right, bottom left, top left)
 * example: @include border-radius(4px, 0, 0, 4px);
 */
/**
 * Box shadow
 * example: @include box-shadow(HORIZONTAL VERTICAL BLUR COLOR));
 */
/**
 * Drop shadow
 * example: @include drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);
 */
/**
 * Text shadow
 * example: @include text-shadow(0 2px 3px rgba(0,0,0,.25));
 */
/**
 * Opacity
 * example: @include opacity(0.5); // 50% opacity
 */
/* Transformations
   ========================================================================== */
/**
 * @include rotate(VALUEdeg);
 */
/**
 * @include scale(VALUE);
 */
/**
 * @include skew(VALUE, VALUE);
 */
/**
 * @include transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
 */
/**
 * @include translate(VALUE, VALUE);
 */
/**
 * Box-sizing
 * example: @include box-sizing(VALUE); //(border-box, padding-box, content-box)
 */
/**
 * Hide from visual and speaking browsers
 */
/**
 * Hide but maintain layout
 */
/*
 * Global Variables
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic|Ubuntu+Mono);
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* 1 */
html input[type="button"],
button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
  * Global setting
  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.notice {
  border: 1px solid rgba(115, 115, 115, 0.87);
  border-radius: 0.4em;
  padding: 0.5em 1em; }

img {
  height: auto;
  max-width: 100%; }

table,
th,
td {
  border: none; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.table-top {
  vertical-align: top; }

.table-middle {
  vertical-align: middle; }

.table-bottom {
  vertical-align: bottom; }

table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.striped > tbody > tr > td {
    border-radius: 0; }
  table.highlight > tbody > tr {
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
    table.highlight > tbody > tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th,
  table.centered tbody tr td,
  table.centered tfoot tr td {
    text-align: center; }

thead {
  border-bottom: 1px solid #d0d0d0; }

td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

tfoot {
  border-top: 1px solid #d0d0d0; }

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }

footer {
  text-align: center;
  padding: 3em 0; }
  footer .heart-icon {
    color: #f83e4b;
    text-shadow: 0 0 5px #fff, 0 0 10px #f83e4b; }

.related-articles {
  margin-top: 2em; }
  .related-articles h4 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .related-articles ul {
    margin: 0;
    padding: 0;
    list-style: none; }

/**
  * Helpers
  */
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden-md {
  display: none; }
  @media only screen and (min-width: 992px) {
    .hidden-md {
      display: inline-block; } }

.radius-box {
  border-radius: 10px; }

.radius-ls {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.radius-rs {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.radius-l1 {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }

.radius-r1 {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.ms {
  margin: 0.25em; }

.mts {
  margin-top: 0.25em; }

.mbs {
  margin-bottom: 0.25em; }

.mrs {
  margin-right: 0.25em; }

.mls {
  margin-left: 0.25em; }

.mm {
  margin: 0.5em; }

.mtm {
  margin-top: 0.5em; }

.mbm {
  margin-bottom: 0.5em; }

.mrm {
  margin-right: 0.5em; }

.mlm {
  margin-left: 0.5em; }

.m1 {
  margin: 1.5em; }

.mt1 {
  margin-top: 1.5em; }

.mb1 {
  margin-bottom: 1.5em; }

.mr1 {
  margin-right: 1.5em; }

.ml1 {
  margin-left: 1.5em; }

.m2 {
  margin: 3em; }

.mt2 {
  margin-top: 3em; }

.mb2 {
  margin-bottom: 3em; }

.mr2 {
  margin-right: 3em; }

.ml2 {
  margin-left: 3em; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.ps {
  padding: 0.25em; }

.pts {
  padding-top: 0.25em; }

.pbs {
  padding-bottom: 0.25em; }

.prs {
  padding-right: 0.25em; }

.pls {
  padding-left: 0.25em; }

.pm {
  padding: 0.5em; }

.ptm {
  padding-top: 0.5em; }

.pbm {
  padding-bottom: 0.5em; }

.prm {
  padding-right: 0.5em; }

.plm {
  padding-left: 0.5em; }

.p1 {
  padding: 1em; }

.pt1 {
  padding-top: 1em; }

.pr1 {
  padding-right: 1em; }

.pb1 {
  padding-bottom: 1em; }

.pl1 {
  padding-left: 1em; }

.p2 {
  padding: 2em; }

.pt2 {
  padding-top: 2em; }

.pr2 {
  padding-right: 2em; }

.pb2 {
  padding-bottom: 2em; }

.pl2 {
  padding-left: 2em; }

.pb5 {
  padding-bottom: 5em; }

.pads {
  padding: 0.25em; }

.padm {
  padding: 0.5em; }

.padl {
  padding: 1em; }

.padsx {
  padding-left: .25em;
  padding-right: .25em; }

.padmx {
  padding-left: .5em;
  padding-right: .5em; }

.padlx {
  padding-left: 1em;
  padding-right: 1em; }

.padsy {
  padding-top: .25em;
  padding-bottom: .25em; }

.padmy {
  padding-top: .5em;
  padding-bottom: .5em; }

.padly {
  padding-top: 1em;
  padding-bottom: 1em; }

.primary-text-color {
  color: #42b983; }

.primary-bg-color {
  background-color: #42b983; }

.secondary-text-color {
  color: #8d7edc; }

.secondary-bg-color {
  background-color: #8d7edc; }

.success-text-color {
  color: #65e892; }

.success-bg-color {
  background-color: #65e892; }

.danger-text-color {
  color: #f83e4b; }

.danger-bg-color {
  background-color: #f83e4b; }

.info-text-color {
  color: #09ABF6; }

.info-bg-color {
  background-color: #09ABF6; }

.warning-text-color {
  color: #F5A623; }

.warning-bg-color {
  background-color: #F5A623; }

/**
  * Grid
  */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 992px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 1200px) {
  .container {
    width: 70%; } }
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    width: 100%; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: 0; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: 0; }
    .row .col.s3 {
      width: 25%;
      margin-left: 0; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: 0; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: 0; }
    .row .col.s6 {
      width: 50%;
      margin-left: 0; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: 0; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: 0; }
    .row .col.s9 {
      width: 75%;
      margin-left: 0; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: 0; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: 0; }
    .row .col.s12 {
      width: 100%;
      margin-left: 0; }
    .row .col.offset-s1 {
      margin-left: 8.33333%; }
    .row .col.offset-s2 {
      margin-left: 16.66667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.33333%; }
    .row .col.offset-s5 {
      margin-left: 41.66667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.33333%; }
    .row .col.offset-s8 {
      margin-left: 66.66667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.33333%; }
    .row .col.offset-s11 {
      margin-left: 91.66667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width: 600px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.m3 {
        width: 25%;
        margin-left: 0; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.m6 {
        width: 50%;
        margin-left: 0; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.m9 {
        width: 75%;
        margin-left: 0; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.m12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 992px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.l3 {
        width: 25%;
        margin-left: 0; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.l6 {
        width: 50%;
        margin-left: 0; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.l9 {
        width: 75%;
        margin-left: 0; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.l12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }

/* ==========================================================================
   Typography
   ========================================================================== */
html {
  line-height: 1.5;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 15px; }

blockquote {
  display: block;
  position: relative;
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid #8d7edc; }


a {
  text-decoration: none;
  color: #42b983; }
  a:hover, a:focus {
    color: #75cea5;
    text-decoration: none; }


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.7; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.87); }
  h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
    color: rgba(61, 61, 61, 0.87); }

h1 {
  font-size: 2rem;
  margin: 1rem 0 0.8rem 0; }

h2 {
  font-size: 1.75rem;
  margin: 0.875rem 0 0.7rem 0; }

h3 {
  font-size: 1.5rem;
  margin: 0.75rem 0 0.6rem 0; }

h4 {
  font-size: 1.25rem;
  margin: 0.625rem 0 0.5rem 0; }

h5 {
  font-size: 1.15rem;
  margin: 0.575rem 0 0.46rem 0; }

h6 {
  font-size: 1rem;
  margin: 0.5rem 0 0.4rem 0;
  text-transform: uppercase; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.1); }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

small,
.small {
  font-size: 80%;
  font-weight: normal; }

p {
  margin: 1.2em 0;
  word-spacing: 0.05em;
  line-height: 1.6em; }

a.post-tag{border-radius: 0.8em;
  text-transform:capitalize;
  margin:0.1em;
  padding:0.3em 1em;
  color:#fff;
  background-color:#794D9A;
  font-size:65%;
  display:inline-block}

/* Buttons
   ========================================================================== */
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.875em;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #42b983;
  color: #fff;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #42b983;
  text-decoration: none !important;
  border-radius: 5px; }
  .btn:visited {
    color: #fff;
    border-color: #42b983; }
  .btn:hover {
    background-color: #fff;
    color: #42b983;
    border-color: #42b983; }

.btn-success {
  background-color: #65e892;
  color: #fff;
  border-color: #65e892; }
  .btn-success:visited {
    color: #fff;
    border-color: #65e892; }
  .btn-success:hover {
    background-color: #fff;
    color: #65e892;
    border-color: #65e892; }

.btn-warning {
  background-color: #F5A623;
  color: #fff;
  border-color: #F5A623; }
  .btn-warning:visited {
    color: #fff;
    border-color: #F5A623; }
  .btn-warning:hover {
    background-color: #fff;
    color: #F5A623;
    border-color: #F5A623; }

.btn-danger {
  background-color: #f83e4b;
  color: #fff;
  border-color: #f83e4b; }
  .btn-danger:visited {
    color: #fff;
    border-color: #f83e4b; }
  .btn-danger:hover {
    background-color: #fff;
    color: #f83e4b;
    border-color: #f83e4b; }

.btn-info {
  background-color: #09ABF6;
  color: #fff;
  border-color: #09ABF6; }
  .btn-info:visited {
    border-color: #09ABF6;
    color: #fff; }
  .btn-info:hover {
    background-color: #fff;
    color: #09ABF6;
    border-color: #09ABF6; }

/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
pre,
code {
    font-family: "Source Code Pro", Menlo, monospace;
    color: #444;
    background-color: #242a3a;
    font-size: 14px
}
code {
    background: #f5f5f5;
    word-break: break-all;
    white-space: normal;
    border-radius: 0
}
pre {
    overflow: auto;
    display: block;
    padding: 1em;
    margin: 0 0 1em;
    line-height: 1.3875;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 0;
    font-weight: bold
}
pre code {
    background: transparent;
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
    color: #ccc
}
pre code span {
    word-break: break-all
}
.highlight {
  margin: 0;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }

.highlight pre code {
    color: #ddd
}
.highlight .hll {
    background-color: #515151
}
.highlight .c {
    color: #999
}
.highlight .err {
    color: #f2777a
}
.highlight .k {
    color: #c9c
}
.highlight .l {
    color: #f99157
}
.highlight .n {
    color: #ccc
}
.highlight .o {
    color: #6cc
}
.highlight .p {
    color: #ccc
}
.highlight .cm {
    color: #999
}
.highlight .cp {
    color: #999
}
.highlight .c1 {
    color: #999
}
.highlight .cs {
    color: #999
}
.highlight .gd {
    color: #f2777a
}
.highlight .ge {
    font-style: italic
}
.highlight .gh {
    color: #cccccc;
    font-weight: bold
}
.highlight .gi {
    color: #9c9
}
.highlight .gp {
    color: #999999;
    font-weight: bold
}
.highlight .gs {
    font-weight: bold
}
.highlight .gu {
    color: #66cccc;
    font-weight: bold
}
.highlight .kc {
    color: #c9c
}
.highlight .kd {
    color: #c9c
}
.highlight .kn {
    color: #6cc
}
.highlight .kp {
    color: #c9c
}
.highlight .kr {
    color: #c9c
}
.highlight .kt {
    color: #fc6
}
.highlight .ld {
    color: #9c9
}
.highlight .m {
    color: #f99157
}
.highlight .s {
    color: #9c9
}
.highlight .na {
    color: #69c
}
.highlight .nb {
    color: #ccc
}
.highlight .nc {
    color: #fc6
}
.highlight .no {
    color: #f2777a
}
.highlight .nd {
    color: #6cc
}
.highlight .ni {
    color: #ccc
}
.highlight .ne {
    color: #f2777a
}
.highlight .nf {
    color: #69c
}
.highlight .nl {
    color: #ccc
}
.highlight .nn {
    color: #fc6
}
.highlight .nx {
    color: #69c
}
.highlight .py {
    color: #ccc
}
.highlight .nt {
    color: #6cc
}
.highlight .nv {
    color: #f2777a
}
.highlight .ow {
    color: #6cc
}
.highlight .w {
    color: #ccc
}
.highlight .mf {
    color: #f99157
}
.highlight .mh {
    color: #f99157
}
.highlight .mi {
    color: #f99157
}
.highlight .mo {
    color: #f99157
}
.highlight .sb {
    color: #9c9
}
.highlight .sc {
    color: #ccc
}
.highlight .sd {
    color: #999
}
.highlight .s2 {
    color: #9c9
}
.highlight .se {
    color: #f99157
}
.highlight .sh {
    color: #9c9
}
.highlight .si {
    color: #f99157
}
.highlight .sx {
    color: #9c9
}
.highlight .sr {
    color: #9c9
}
.highlight .s1 {
    color: #9c9
}
.highlight .ss {
    color: #9c9
}
.highlight .bp {
    color: #ccc
}
.highlight .vc {
    color: #f2777a
}
.highlight .vg {
    color: #f2777a
}
.highlight .vi {
    color: #f2777a
}
.highlight .il {
    color: #f99157
}

/* LAYOUT CSS */
.cover {
  background-color: #f5f5f5;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1; }
  @media only screen and (min-width: 600px) {
    .cover {
      background-position: center;
      padding: 30px; } }
  @media only screen and (min-width: 992px) {
    .cover {
      height: 100vh;
      position: initial;
      width: 100%; } }

.cover-card {
  color: rgba(0, 0, 0, 0.87);
  padding: 0 30px; }
  .cover-card .avatar {
    border-radius: 60%;
    width: 110px;
    height: 110px;
    float: none; }
  .cover-card .author_name {
    display: block;
    color: #676767;
    font-size: 1.75em; }
  .cover-card .author_job {
    display: block;
    color: #144C83;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px; }
    .cover-card .author_reach {
    display: block;
    color: #144C83;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: none;
    margin: -5px auto 10px; }
  .cover-card .author_bio {
    font-size: 90%;
    display: block; }
  @media only screen and (min-width: 992px) {
    .cover-card {
      text-align: right;
      margin: 0 auto;
      padding: 0 0px 80px; } }

.social-links {
  margin-top: 0.5em; }
  .social-links ul {
    margin: 0;
    padding: 0; }
    .social-links ul li {
      list-style: none;
      display: inline-block;
      margin-left: 1em; }
      .social-links ul li a.social-link-item {
        font-size: 70%;
        color: #144C83; }
        .social-links ul li a.social-link-item:hover, .social-links ul li a.social-link-item:focus {
          color: #bfb6eb; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-list .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1; }
    .nav-list .nav-item a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: #144C83; }
      .nav-list .nav-item a:hover, .nav-list .nav-item a:focus {
        color: #bfb6eb; }

ul.tag-cloud {
  padding: 2em 0 3em;
  margin: 0;
  overflow: hidden;
  list-style: none; }
  ul.tag-cloud li {
    display: inline-block;
    margin-right: .5em; }
    ul.tag-cloud li a.post-tag {
      font-size: 80%;
      color: #fff;
      margin-top: 0.1em;
      margin-right: 0.1em;
      margin-bottom: 0.1em;
      margin-left: 0.1em;
      padding-top: 0.3em;
      padding-right: 1em;
      padding-bottom: 0.3em;
      padding-left: 1em;
      border-radius: 0.8em; }

.tag-list .tag-group {
  margin-bottom: 2em; }
  .tag-list .tag-group .tag-group-title {
    color: #F5A623;
    text-transform: capitalize; }
  .tag-list .tag-group .tag-item {
    padding-left: 1em;
    margin-bottom: .5em; }
    .tag-list .tag-group .tag-item a {
      color: rgba(0, 0, 0, 0.87); }
      .tag-list .tag-group .tag-item a:hover, .tag-list .tag-group .tag-item a:focus {
        color: rgba(61, 61, 61, 0.87); }

.cat-list .cat-group {
  margin-bottom: 2em; }
  .cat-list .cat-group .cat-group-title {
    color: #F5A623;
    text-transform: capitalize; }
  .cat-list .cat-group .cat-item {
    padding-left: 1em;
    margin-bottom: .5em; }
    .cat-list .cat-group .cat-item a {
      color: #f83e4b; }
      .cat-list .cat-group .cat-item a:hover, .cat-list .cat-group .cat-item a:focus {
        color: #fcb4b9; }

.archive #timeline {
  position: relative; }
  .archive #timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 4px;
    background: #f5f5f5; }
  .archive #timeline:after {
    content: "";
    display: table;
    clear: both; }
.archive .archive-title {
  position: relative;
  margin: 2em auto 1em; }
  .archive .archive-title .archive-year {
    margin-left: 1em; }
    .archive .archive-title .archive-year:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      margin-left: -4px;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      background: #bbb;
      border-radius: 50%; }
.archive ul {
  list-style: none; }
  .archive ul li {
    margin: 1em auto; }

.post-listing {
  background-color: #fff;
  position: absolute;
  top: 400px;
  z-index: 233;
  width: 100%;
  padding: 20px 20px 0;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px); }
  @media only screen and (min-width: 600px) {
    .post-listing {
      padding: 50px 30px 0; } }
  @media only screen and (min-width: 992px) {
    .post-listing {
      height: 100vh;
      overflow-y: scroll;
      position: initial;
      top: 0; } }

.image-credit {
  float: right;
  font-weight: bold;
  font-style: italic;
  color: #09ABF6;
  font-size: 13px;
  padding-right: 20px; }

section.post {
  margin-bottom: 40px; }

.back-home a {
  font-size: 13px;
  font-weight: bold;
  color: #09ABF6;
  border: 1px solid rgba(115, 115, 115, 0.87);
  border-radius: 0.4em;
  padding: 0.5em 1em; }

.post-title-link {
  color: #42b983;
  font-size: 14px;
  margin-left: 10px; }
  .post-title-link:hover, .post-title-link:focus {
    color: #75cea5; }

.post-meta {
  color: #989898;
  font-size: 13px;
  font-weight: bold; }
  .post-meta .post-date {
    color: #144C83; }
  .post-meta .post-author {
    color: #144C83; }
  .post-meta .post-cat {
    text-transform: uppercase;
    color: #F5A623; }
  .post-meta .read-time {
    color: #676767; }

a.read-more {
  padding: 5px 8px; }

#post {
  padding-bottom: 50px; }
  #post .post-header {
    margin: 0 auto 50px; }

#post h1 {
  margin: 0.5em 0 1em; }

#post h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd; }

#post h3 {
  margin: 1.75em 0 1.2em;
  position: relative; }

#page {
  padding-bottom: 50px;
  min-height: 70vh; }
  #page .page-header {
    margin: 0 auto 50px; }

.post-navigation {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.leonids-icon {
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
  color: #F5A623;
  font-size: 16px;
  line-height: 16px; }

.post-nav-prev,
.post-nav-next {
  min-height: 10px;
  width: 100%; }

.post-nav-next {
  text-align: right; }

.post-nav-btn {
  width: 100%;
  padding: 20px 30px; }
  .post-nav-btn .post-nav-text {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold; }
  .post-nav-btn .table-cell {
    vertical-align: middle; }

.post-image-feature {
  margin-bottom: 40px; }
  .post-image-feature .feature-image {
    width: 100%;
    max-height: 500px; }

.share-buttons {
  padding-top: 1em;
  border-top: 1px solid #ddd; }
  .share-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .share-buttons ul li {
      display: inline-block;
      margin-right: 0.5em; }
      .share-buttons ul li span {
        display: none; }
        @media only screen and (min-width: 600px) {
          .share-buttons ul li span {
            display: inline;
            margin: 0.5em; } }

.twitter {
  background-color: #77bcf1;
  color: #fff;
  border-color: #77bcf1; }
  .twitter:visited {
    color: #fff;
    border-color: #77bcf1; }
  .twitter:hover {
    background-color: #fff;
    color: #77bcf1;
    border-color: #77bcf1; }

.facebook {
  background-color: #627aac;
  color: #fff;
  border-color: #627aac; }
  .facebook:visited {
    color: #fff;
    border-color: #627aac; }
  .facebook:hover {
    background-color: #fff;
    color: #627aac;
    border-color: #627aac; }

.google-plus {
  background-color: #e36f60;
  color: #fff;
  border-color: #e36f60; }
  .google-plus:visited {
    color: #fff;
    border-color: #e36f60; }
  .google-plus:hover {
    background-color: #fff;
    color: #e36f60;
    border-color: #e36f60; }

.hacker-news {
  background-color: #f60;
  color: #fff;
  border-color: #f60; }
  .hacker-news:visited {
    color: #fff;
    border-color: #f60; }
  .hacker-news:hover {
    background-color: #fff;
    color: #f60;
    border-color: #f60; }

.reddit {
  background-color: #5f99cf;
  color: #fff;
  border-color: #5f99cf; }
  .reddit:visited {
    color: #fff;
    border-color: #5f99cf; }
  .reddit:hover {
    background-color: #fff;
    color: #5f99cf;
    border-color: #5f99cf; }

p.pic {
    width: 200px;
    margin: 0 auto;
}
